ANTHROPIC_API_KEY=your_anthropic_api_key_here
NWS_USER_AGENT=NotTheRugScout/1.0 (bryanballi@gmail.com)
INSTAGRAM_ACCESS_TOKEN=your_meta_graph_access_token_here
NOT_THE_RUG_INSTAGRAM_USER_ID=your_instagram_business_account_id_here
REDDIT_CLIENT_ID=your_reddit_app_client_id_here
REDDIT_CLIENT_SECRET=your_reddit_app_client_secret_here
REDDIT_USER_AGENT=NotTheRugScout/1.0 (bryanballi@gmail.com)
